<aside class="navbarLeft">
    <div class="navbarLeft-content">
        <div class="logoLink"
             title="Angular">
            
        </div>

        <div *ngFor="let item of items" class="item">
            <div (click)="item.handler()"
                 nz-tooltip
                 [nzTooltipTitle]="item.tooltip"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <i class="text-xl text-white"
                   nz-icon
                   [nzType]="item.icon"
                   nzTheme="outline"></i>
            </div>
        </div>
        
        
    </div>
</aside>

